/* mitr-300 - latin_thai */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/mitr-v11-latin_thai-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mitr-regular - latin_thai */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/mitr-v11-latin_thai-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*global*/
*, ::before, ::after {
  box-sizing: border-box;
}

.button {
  color: #ffffff;
  background-color: rgba(128, 126, 126, 0.5); /* กำหนดค่า opacity เป็น 0.5 (หรือตามต้องการ) */
  border: none;
  border-radius: 8px;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 16px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.button-primary{
  background-color: rgb(58, 107, 244);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.logout-button {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Set padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer; /* Change cursor on hover */
}

/* Add hover effect */
.logout-button:hover {
  background-color: #45a049;
}

.content-section{
  padding: 64px 16px;
}

.content-container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content-container-narrow{
  max-width: 600px;
}

.content-title{
  margin-bottom: 24px;
}

.content-section-single{
  min-height: 100vh;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 720px){
  .grid-2{
    grid-template-columns: 1fr 1fr;
  }

  .grid-3{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.img-block{
  display: block;
  max-width: 100%;
  margin-bottom: 12px;
  height: auto;  /* Maintain the image's aspect ratio */
  display: block;  /* Remove any extra space below the image */
  margin: 0 auto;
}

html{
  color: #333333;
  font-family: "Mitr", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
  color: #111111;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0px;
  margin-bottom: 16px;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 22px;
}

h5{
  font-size: 20px;
}

h6{
  font-size: 18px;
}

p{
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0px;
  margin-bottom: 16px;
}

a{
  color: rgb(18, 167, 231);
}

.text-center{
  text-align: center;
}

/*site-header*/
.site-header{
  background-color: rgb(177, 233, 252);
  border-bottom: 1px solid rgb(215,215,215);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

.site-header-item{
  color: #111111;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  transition: background-color 500ms;
}

.site-header-right-container {
  display: flex;
  margin-left: auto; /* This will push the container to the right */
}

.site-header-item:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.site-header-brand img{
  display: inline-block;
  height: 32px;
  margin-right: 8px;
}

.logout{
  cursor: pointer;
}

/*site-footer*/
.site-footer{
  background-color: rgb(224, 224, 224);
  text-align: center;
  padding: 16px;
}

.site-footer-copyrigth{
  font-size: 12px;
}

/*form*/
.form-field{
  margin-bottom: 16px;
}

label{
  display: block;
  margin-bottom: 4px;
  line-height: 1.6;
}

input[type='text'],
input[type='email']{
  background-color: #ffffff;
  border: 1.5px solid #888888;
  border-radius: 4px;
  font-size: 16px;
  display: block;
  height: 35px;
  width: 100%;
  padding: 4px 12px;
  outline: none;
}

input[type='text']:focus,
input[type='email']:focus{
  border-color: rgb(32, 53, 210);
}

/*home-landing-section*/
.home-landing-section{
  /* background-color: #dffcfb; */
  /* background-image: url('logo.png'); */
  background-position: center;
  /* background-size: contain; */
  background-repeat: no-repeat;
  text-align: center;
  padding: 108px 16px;
}


.home-landing-text{
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
  margin-bottom: 24px;
}

/*notebook*/
.notebook-description{
  padding: 2px 16px;
}

.notebook-description a{
  color: #111111;
  text-decoration: none;
}

.notebook-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.notebook-card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.notebook-image{
  display: block;
  max-width: 100%;
  margin-bottom: 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*dark mode*/
body.dark{
  color: white;
  background-color: #333333;
}

/* Style for the search bar */
#search-results {
  display: none; /* Hide the search results initially */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  background-color: #f9f9f9; /* Add background color */
  padding: 10px; /* Add padding */
  margin: 10px; /* Add margin from the search bar */
}

#search-results a {
  display: block;
  color: #333; /* Set link color */
  text-decoration: none; /* Remove underline */
  padding: 5px 0; /* Add padding */
}

#search-results a:hover {
  background-color: #eaeaea; /* Change background color on hover */
}

.search-container {
  margin: 10px; /* Add margin around the search container */
}

#search-input {
  width: 100%; /* Make the input field take up the full width */
  padding: 10px; /* Add padding to the input field */
  border: 1px solid #ccc; /* Add a border to the input field */
  border-radius: 5px; /* Add rounded corners */
}

.custom-background {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}

.lecture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.lecture-grid a {
  display: block;
  padding: 15px;
  text-align: center;
  background-color: rgb(177, 233, 252);
  color: #000000;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(52, 152, 219, 0.3);
}

.lecture-grid a:hover {
  background-color: #4ea5df;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(41, 128, 185, 0.4);
}

.styled-iframe {
  width: 516px;
  height: 300px;
  border: 2px solid #ddd; /* Border color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
}