{% extends 'app_general/components/base.html' %}

{% block site_title %}
    About | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">About CPEnotebook</h1>
        <h4>วัตถุประสงค์</h4>
        <p>เนื่องจากปัจจุบันทางมหาลัยใช้หลายแพลตฟอร์มในการเรียนการสอนเช่น Mango Elearning Exam.cmu MicrosoftTeam กลุ่มของพวกเราจึงได้ทำเว็ปแอพพลิเคชั่นเพื่อรวบรวมเนื้อหารายวิชาต่างๆ ที่เกี่ยวข้องกับคณะวิศวกรรมศาสตร์ สาขาคอมพิวเตอร์ และช่วยเหลือนักศึกษาในการหาเอกสารประกอบการเรียนรู้ไว้ในที่เดียว  </p>
</section>
{% endblock %}