{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}

<div class="custom-background">
    <div class="wave"></div><div class="wave"></div><div class="wave"></div>
    <section class="home-landing-section">
        <h1 class="home-landing-text">CPEnotebook</h1>
        <p class="home-landing-text">รวมสไลด์รายวิชาในหลักสูตรวิศวกรรมคอมพิวเตอร์ สำหรับวิศวกรคอมพิวเตอร์</p>
        <p class="home-landing-text">
            <a class="button" href="{% url 'notebooks' %}">รายวิชาทั้งหมด</a>
            <!-- <a class="button button-primary" href="{% url 'library' %}">บันทึกรายวิชา</a> -->
    </section>
    
</div>

<section class="content-section">
    <div class="content-container">
        <h4 class="content-title text-center">คำอธิบาย</h4>
        <div class="grid grid-3">
            <style>
                /* Add margin-bottom to paragraphs */
                div p {
                    margin-bottom: 8px; /* Adjust as needed */
                }
            </style>
            <div>     
                <center>
                    <h5>สมาชิกกลุ่ม</h5>
                </center>        
                <img class="img-block" src="{% static 'app_general/group.png' %}">     
                <p></p>   
                <center><p>ทัตพงศ์ 	เสริมสุข	640610636</p>
                    <p>ธีรภัทร 	วงค์ษา	640610641</p>
                    <p>ภาณุวัฒน์ 	วงศ์วรกุลกิจ	640610660</p>
                    <p>ภูเบศร์ 	ชุมภูสืบ	640610662</p>
                    <p>สุรบดินทร์ 	เงาใส		640610673</p>
                    <p>ชาญณรงค์ 	ดวงสุภา	640612084</p>
                    <p>ศุภณัฐ   	วังทิพย์	640612098</p></center>        
            </div>
            <div>
                <center>
                    <h5>Demo Video</h5>
                    <iframe 
                        class="styled-iframe"
                        width="516" 
                        height="300" 
                        src="https://drive.google.com/file/d/1zk6TI683R4e7PmuFKeWanN1KWa4hyE2L/preview" 
                        frameborder="0" 
                        allowfullscreen>
                    </iframe>
                </center>
            </div>
            <div>
                <center>
                    <h5>เอกสารที่เกี่ยวข้อง</h5>
                    <p>
                        <a href="{% static 'app_general/software_engineer_proposal.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                            1. Proposal.pdf
                        </a>
                    </p>
                    <p>
                        <a href="{% static 'app_general/SRS.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                            2. SRS.pdf
                        </a>
                    </p>
                    <p>
                        <a href="{% static 'app_general/SDD.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                            3. SDD.pdf
                        </a>
                    </p>
                    <p>
                        <a href="{% static 'app_general/Backlog and Sprint backlog.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                            4. Backlog and Sprint backlog.pdf
                        </a>
                    </p>
                    <p>
                        <a href="https://drive.google.com/file/d/1xAmU0Fl7JwooWJbDFtcI7o5qY3WQvKO8/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                            5. Sprint 1 video presentation.
                        </a>
                    </p>
                    <p>
                        <a href="{% static 'app_general/Slide presentation.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                            6. Slide presentation.
                        </a>
                    </p>
                    <p>
                        <a href="{% static 'app_general/test doc.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                            7. Test documentation.
                        </a>
                    </p>
                    <p>
                        <a href="https://drive.google.com/file/d/1xAmU0Fl7JwooWJbDFtcI7o5qY3WQvKO8/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                            8. Sprint 2 video presentation.
                        </a>
                    </p>
                </center>
            </div>
        </div>
        <p class="text-center">
            <a class="button" href="{% url 'about' %}">เกี่ยวกับ CPEnotebook</a>
        </p>
    </div>
</section>

{% endblock %}