{% extends 'app_general/components/base.html' %}
{% load static %}

{% block content %}
<section class="home-landing-section">
    <h1 class="home-landing-text">CPEnotebook</h1>
    <p class="home-landing-text">รวมสไลด์รายวิชาในหลักสูตรวิศวกรรมคอมพิวเตอร์ สำหรับวิศวกรคอมพิวเตอร์</p>
    <p class="home-landing-text">
        <a class="button" href="{% url 'notebooks' %}">รายวิชาทั้งหมด</a>
        <a class="button button-primary" href="{% url 'library' %}">บันทึกรายวิชา</a>
    </p>
</section>
<section class="content-section">
    <div class="content-container">
        <h4 class="content-title text-center">คำอธิบาย</h4>
        <div class="grid grid-3">
            <div>               
                <img class="img-block" src="{% static 'app_general/library.jpg' %}">                
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, doloribus illo tempora ipsam quasi a sunt. Fugiat placeat temporibus iusto nobis ipsa veniam vel, soluta modi. Aut nobis ratione recusandae.</p>
            </div>
            <div>
                <p>
                    <a href="{% static 'app_general/software_engineer_proposal.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                        1. Proposal.pdf
                    </a>
                </p>
                <p>
                    <a href="{% static 'app_general/SRS.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                        2. SRS.pdf
                    </a>
                </p>
                <p>
                    <a href="{% static 'app_general/SDD.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                        3. SDD.pdf
                    </a>
                </p>
                <p>
                    <a href="{% static 'app_general/Backlog and Sprint backlog.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                        4. Backlog and Sprint backlog.pdf
                    </a>
                </p>
                <p>
                    <a href="https://drive.google.com/file/d/1xAmU0Fl7JwooWJbDFtcI7o5qY3WQvKO8/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                        5. Sprint 1 video presentation.
                    </a>
                </p>
                <p>
                    <a href="{% static 'app_general/Slide presentation.pdf' %}" target="_blank" rel="noopener noreferrer" class="pdf-file-link">
                        6. Slide presentation.
                    </a>
                </p>
            </div>
        </div>
        <p class="text-center">
            <a class="button" href="{% url 'about' %}">เกี่ยวกับ CPEnotebook</a>
        </p>
    </div>
</section>

{% endblock %}