{% extends 'app_general/components/base.html' %}

{% block site_title %}
    Reset password | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        {% if validlink %}
        <h3 class="content-title">ตั้งรหัสผ่านใหม่</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <button class="button button-primary" type="submit">
                        ส่ง
                    </button>
                </p>
            </form>
        {% else %}
            <h3 class="content-title">ลิงค์ใช้ไม่ได้</h3>
            <p>ลิงค์หมดอายุหรือถูกใช้ไปแล้ว</p>
        {% endif %}
        <p>
            <a href="{% url 'login' %}" style="text-decoration: none;">⬅กลับไปหน้าเข้าสู่ระบบ</a>
        </p>      
    </div>
</section>
{% endblock %}