{% extends 'app_general/components/base.html' %}

{% block site_title %}
Change password | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h3 class="content-title">สวัสดีคุณ {{ user.username }}😘</h3>
        <p>
            <a href="{% url 'dashboard' %}">แดชบอร์ด</a>
            <a href="{% url 'profile' %}">ข้อมูลผู้ใช้</a>
            <a href="{% url 'password_change' %}">เปลี่ยนรหัสผ่าน</a>
        </p>
        <h5>เปลี่ยนรหัสผ่านสำเร็จ</h5>
        <p>
            รหัสผ่านของคุณถูกเปลี่ยนแล้ว
        </p>
    </div>
</section>
{% endblock %}