{% extends 'app_general/components/base.html' %}

{% block site_title %}
Change password | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-wide">
        <div class="left-section">
            <h3 class="content-title" style="font-size: 32px;">สวัสดีคุณ {{ user.username }}😘</h3>
            <div class="vertical-links">
                <p>
                    <a href="{% url 'dashboard' %}" style="font-size: large;">แดชบอร์ด</a>
                </p>
                <p>
                    <a href="{% url 'profile' %}" style="font-size: large;">ข้อมูลผู้ใช้</a>
                </p>
                <p>
                    <a href="{% url 'password_change' %}" style="font-size: large;">เปลี่ยนรหัสผ่าน</a>
                </p>
            </div>
        </div>
        <div class="right-section">
            <h5>เปลี่ยนรหัสผ่าน</h5>
            <form action="{% url 'password_change' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
                <p>
                    <button class="button button-primary" type="submit">
                        บันทึก
                    </button>
                </p>
            </form>
        </div>
    </div>
</section>

<style>
    .content-container {
        display: flex;
        justify-content: space-between;
    }
    .left-section {
        width: 30%;
    }
    .right-section {
        width: 65%; /* Adjust width as needed */
    }
    .vertical-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .vertical-links p {
        margin: 0;
    }
</style>
{% endblock %}