{% extends 'app_general/components/base.html' %}

{% block site_title %}
Change password | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h3 class="content-title">สวัสดีคุณ {{ user.username }}😘</h3>
        <p>
            <a href="{% url 'dashboard' %}">แดชบอร์ด</a>
            <a href="{% url 'profile' %}">ข้อมูลผู้ใช้</a>
            <a href="{% url 'password_change' %}">เปลี่ยนรหัสผ่าน</a>
        </p>
        <h5>เปลี่ยนรหัสผ่าน</h5>
        <form action="{% url 'password_change' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
            <p>
                <button class="button button-primary" type="submit">
                    บันทึก
                </button>
            </p>
        </form>
    </div>
</section>
{% endblock %}