{% extends 'app_general/components/base.html' %}

{% block site_title %}
    Forgot password | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container content-container-narrow">
        <h3 class="content-title">ลืมรหัสผ่าน?</h3>
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button class="button button-primary" type="submit">
                    ส่ง
                </button>
            </p>
        </form>
        <p>
            <a href="{% url 'login' %}" style="text-decoration: none;">⬅กลับไปหน้าเข้าสู่ระบบ</a>
        </p>
    </div>
</section>
{% endblock %}