{% load static %}
<style>
    .logout {
        cursor: pointer;
    }
</style>
<header class="site-header">
    <a class="site-header-item site-header-brand" href="{% url 'home' %}">
        <img src="{% static 'app_general/weblogo.png' %}">
        <span>CPEnotebook</span>
    </a>
    <a class="site-header-item" href="{% url 'notebooks' %}">
        <span>รายวิชาทั้งหมด</span>
    </a>
    <a class="site-header-item" href="{% url 'about' %}">
        <span>เกี่ยวกับ</span>
    </a>
    {% if user.is_authenticated %}
        <div class="site-header-right-container">
            <a class="site-header-item" href="{% url 'dashboard' %}">
                <span>{{ user.username }}</span>
            </a>
            <form id="logoutForm" class="site-header-item" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <a class="logout" onclick="submitFormAndRedirect()">
                    <span>ออกจากระบบ</span>
                </a>
            </form>
            <script>
                function submitFormAndRedirect() {
                    document.getElementById('logoutForm').submit();
                }
            </script>
        </div>
    {% else %}
        <div class="site-header-right-container">
            <a class="site-header-item" href="{% url 'login' %}">
                <span>เข้าสู่ระบบ</span>
            </a>
            <a class="site-header-item" href="{% url 'register' %}">
                <span>สร้างบัญชี</span>
            </a>
        </div>
    {% endif %}
</header>