{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}
    รายวิชาทั้งหมด | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        <h2 class="content-title">รายวิชาทั้งหมด</h1>

        <!-- Search Bar -->
        <form class="search-form">
            <div class="search-container">
                <input type="text" id="search-input" placeholder="ค้นหารายวิชา">
            </div>
        </form>

        <div id="search-results"></div>

        {% if notebooks.count > 0 %}
            <div class="grid grid-3">
                {% for notebook in notebooks %}
                <div class="notebook-card">
                    <a href="{% url 'notebook' notebook.id %}">
                        <img class= "notebook-image" src="{% static notebook.image_relative_url %}">
                    </a>
                    <div class="notebook-description">
                        <h5>
                            <a href="{% url 'notebook' notebook.id %}">
                                {{ notebook.code }} {{notebook.title}}
                            </a>
                        </h5>
                        <p>{{ notebook.chapters }} chapters</p>
                        <!-- {% if notebook.is_maths %}
                            <p>***มีคณิตศาสตร์***</p>
                        {% endif %} -->
                    </div>
                </div>         
                {% endfor %}
            </div>
        {% else %}
            <p>ไม่พบรายวิชา</p>
        {% endif %} 
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
    $('#search-input').on('input', function(){
        var query = $(this).val();
        if (query.length >= 2) {
            $.ajax({
                type: 'GET',
                url: '{% url "search_notebooks" %}',
                data: {
                    'query': query
                },
                success: function(data){
                    var results = '';
                    data.notebooks.forEach(function(notebook){
                        results += '<div><a href="/notebooks/' + notebook.id + '">' + notebook.code + ' ' + notebook.title + '</a></div>';
                    });
                    $('#search-results').html(results);
                    $('#search-results').show(); // Show the search results
                }
            });
        } else {
            $('#search-results').empty();
            $('#search-results').hide(); // Hide the search results if query length is less than 2
        }
    });

    // Handle click event on search result links
    $(document).on('click', '#search-results a', function(e){
        e.preventDefault(); // Prevent the default behavior of the anchor tag
        var url = $(this).attr('href'); // Get the URL from the anchor tag
        window.location.href = url; // Redirect to the URL
    });

});
</script>

{% endblock %}