{% extends 'app_general/components/base.html' %}
{% load static %}

{% block site_title %}
    {{notebook.title}} | 
{% endblock %}

{% block content %}
<section class="content-section content-section-single">
    <div class="content-container">
        {% if notebook is not None %}
        <div class="grid">
            <img class="img-block" src="{% static notebook.image_relative_url %}">
            <h3>{{notebook.title}}</h3>
            <p>{{ notebook.chapters }} chapters</p>
            {% if notebook.is_maths %}
                <p>***มีคณิตศาสตร์***</p>
            {% endif %}
            <p>{{notebook.description}}</p>
        </div>  
        {% else %}
            <p>ไม่พบรายวิชานี้</p>
        {% endif %}
        {% if user.is_authenticated %}
            {% if not is_favourite_notebook %}
                <form action="{% url 'favourite_notebook' notebook.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-field">
                        {{ form.level }}
                        {{ form.level.errors }}
                    </div>
                    <div>
                        <button class="button button-primary" type="submit">บันทึกรายวิชา</button>
                    </div>
                </form>
            {% else %}
                <p>บันทึกรายวิชานี้แล้ว</p>
            {% endif %}    
        {% else %}
            <!-- <a class="button button-primary" href="{% url 'library' %}">บันทึกวิชา</a> -->
        {% endif %}
        <div class="grid">
            <a href="{% url 'lecture' lecture_id='oop_1' %}" target="_blank">Lecture 1</a>
            <a href="{% url 'lecture' lecture_id='oop_2' %}" target="_blank">Lecture 2</a>
            <a>Lecture 3</a>
            <a>Lecture 4</a>
            <a>Lecture 5</a>
        </div>
    </div>
</section>

{% endblock %}